* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
#line {
    color: white;
    margin-top: 2%;
    height: 2vh;
    background-image:linear-gradient(0deg, rgba(255,255,255,1) 26%, rgba(195,195,195,0.5578606442577031) 100%);
}

#logoText{
    text-align: center;
    margin-top: 2% ;
    font-size: 4em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 5%;
}

#content{
    display: flex;
    justify-content: space-around; 
    width: 65%;
}

#text{
    margin-top: 10%;
    font-size: 5em;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}
#blackBox{
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 50px;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 5px; 

}
#mainNavBox{
    text-align: center;
}
#navBox{
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    text-transform: uppercase;
}

#textBox{
    font-size: 20px;
}
hr{
    color: white;
    background-color: white;
    width: 100%;
    height: 1px;
}

#button{
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 45px;
    background-color: #1795e9;
    border: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    padding: 15px;
    font-size: 25px;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.7;
  }
  .button:hover {opacity: 1}


@media screen and (max-width: 2200px){
     #content{
         width: 75%;
     }
@media screen and (max-width: 1900px){
    #content{
        width: 85%;
}
@media screen and (max-width: 1600px){
    #content{
        width: 95%;
}
@media screen and (max-width: 1450px){
    #content{
        width: 100%;
    }
}     
@media screen and (max-width: 1150px){
    #img{
        display: none;
    }
    #content{
        width: auto;
    }
}
@media screen and (max-width: 700px){
    #content{
        text-align: center;
        font-size: 0.7em;
    }
    #logoText{
        font-size: 3.5em;
    }
}
@media screen and (max-width: 500px){
    #logoText{
        font-size: 2.3em;
    }
    #blackBox{
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 30px;
    }
    #navBox{
        font-size: 20px;
    }
    
    #textBox{
        font-size: 16px;
    }
    .button{
        width: 180px;
        padding: 15px;
        font-size: 20px;
    }
}
@media screen and (max-width: 350px){
    #content{
        font-size: 0.6em;
    }
    #logoText{
        font-size: 2em;
    }

}
@media screen and (max-width: 300px){
    #content{
        font-size: 0.5em;
    }
    #logoText{
        font-size: 1.7em;
    }

}


/*
@media screen and (max-width: 900px){
    .nav-links {
        width: 40%;
    }
    .logo{
        width: 80%;
    }
}

@media screen and (max-width: 800px){   š
    html, body {
        overflow-x: hidden;
      }

    .nav-links{
     position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
    
     background-color:rgb(38, 38, 38);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     transform: translateX(100%);
     transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

/*
#img{
    left: 20%;
    top: 40%;
}
 /* NAVBAR 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh ;
    background-color: rgb(38, 38, 38);
    font-family: 'Poppins', sans-serif;
}
/*
#uvod{
    background-color:rgb(38, 38, 38);
    width: 200em !important;
    height: 75em !important;

}
#about{
    background-color: white;
    width: 200em;
    height: 100em;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  width: 8%;
  align-items: center;

}

#logo_img{
   width: 10vh;
   height: 10vh;
   position: absolute;
   left: 50%;
   top: 5%;
   transform: translate(-50%, -50%);

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.burger {
    display: none;
}
.burger div{
    width: 27px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 25px;
}
@media screen and (max-width: 1900px){
    .logo{
        width: 26%;
    }
}
@media screen and (max-width: 1400px){
    .nav-links {
        width: 30%;
    }
    .logo{
        width: 60%;
    }
}
@media screen and (max-width: 900px){
    .nav-links {
        width: 40%;
    }
    .logo{
        width: 80%;
    }
}

@media screen and (max-width: 800px){   š
    html, body {
        overflow-x: hidden;
      }

    .nav-links{
     position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
    
     background-color:rgb(38, 38, 38);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     transform: translateX(100%);
     transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}